.mdl-layout__header-row,
.mdl-navigation {
    min-height: rhythm(2);
    height: rhythm(2);
}

.mdl-layout__header {
    min-height: rhythm(2);
}

.mdl-layout__header {
    background-color: white;
}

#thesett-logo {
    background: url("../images/thesett/thesettlogo-small.png") no-repeat 0 0 transparent;
    display: block;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 0px;
    overflow: hidden;
    width: 130px;
    @include media-2x {
        background-image: url("../images/thesett/thesettlogo-small.2x.png");
        background-size: 100%;
    }
}
@include media-tablet {
    #thesett-logo {
        background-image: url("../images/thesett/thesettlogo-medium.png");
        height: 35px;
        margin-top: 6px;
        margin-bottom: 0px;
        width: 135px;
        @include media-2x {
            background-image: url("../images/thesett/thesettlogo-medium.2x.png");
            background-size: 100%;
        }
    }
}
@include media-desktop {
    #thesett-logo {
        background-image: url("../images/thesett/thesettlogo-large.png");
        height: 35px;
        margin-top: 6px;
        margin-bottom: 0px;
        width: 135px;
        @include media-2x {
            background-image: url("../images/thesett/thesettlogo-large.2x.png");
            background-size: 100%;
        }
    }
}
