/** Single direction margins. */
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
table,
ul {
    margin: 0 0 rhythm(1);
}
/** No margins on headings, the line spacing of the heading is sufficient. */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 rhythm(0);
}
/** Make hr elements fit the rhuthm. */
hr {
    margin: 0 0 rhythm(1);
}
/** Consistent indenting for lists. */
dd,
ol,
ul {
    margin-left: (2 * $base-spacing-unit);
    margin-left: pem(2 * $base-spacing-unit);
}
