// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;
// Small screen / tablet
$screen-sm: 840px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
// Medium screen / desktop
$screen-md: 960px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
// Large screen / wide desktop
$screen-lg: 1280px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$large-screen-max: 999999;
$large-screen-min: $screen-lg-min;
/* 1200px */
$medium-screen-max: $large-screen-min - 1px;
$medium-screen-min: $screen-md-min;
/* 992px */
$small-screen-max: $screen-md-min - 1px;
$small-screen-min: $screen-sm-min;
/* 768px */
$xs-screen-max: $screen-sm-min - 1px;
$xs-screen-min: $screen-xs-min;
/* 480px */
