h1,
h2,
h3,
h4,
h5 {
    font-size: $mobile-base-size;
    color: $color__grey--dark !important;
}

h1,
h2,
h3 {
    font-weight: $bold;
    text-rendering: optimizeLegibility;
}

h1 {
    @include adjust-font-size-to($mobile-h1-size, 3);
    @include media-tablet {
         @include adjust-font-size-to($tablet-h1-size, 3);
    }
}

h2 {
    @include adjust-font-size-to($mobile-h2-size, 2);
    @include media-tablet {
         @include adjust-font-size-to($tablet-h2-size, 2);
    }
}

h3 {
    @include adjust-font-size-to($mobile-h3-size, 2);
    @include media-tablet {
         @include adjust-font-size-to($tablet-h3-size, 2);
    }
}

h4 {
    @include adjust-font-size-to($mobile-h4-size, 2);
    @include media-tablet {
         @include adjust-font-size-to($tablet-h4-size, 2);
    }
}
