.thesett-link {
    color: #8bc34a!important;
    //text-decoration: none;
}
.thesett-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}
.thesett-link-menu:hover {
    cursor: pointer;
}
.thesett-link:hover {
    color: #7cb342!important;
}
